html, body {
    height: 100%; /* Ensures the body takes up full height */
    margin: 0;
    padding: 0;
}

body {
    background: rgb(0,204,0);
    background: linear-gradient(135deg, rgba(0,204,0,1) 0%, rgba(0,153,0,1) 100%); 
}

.carl {
    max-width: 10%;
}